h3, h5, label, p {
  font-family: 'Quicksand', sans-serif;
}

#firstName{
  text-align: center;
}

img {
  width: 500px;
  height: 340px;
  border-radius: 20%;
  margin: 15px;
}

h1, h4, a{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  
}

#results div{
  display: none;
}

h2 {
  text-align: center;
  margin: 50px;
  font-family: 'Quicksand', sans-serif;
}

.line {
  border-top: 2px solid #BFC9CA;
  margin-top: 40px;
  margin-left: 130px;
  margin-right: 130px;
}

.center {
  margin-top: 40px;
  text-align: center;
  
}

.color {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  color: white;
}